@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-gradient {
  background: linear-gradient(135deg, #e2e2e2, #e7e6d7);
}

@font-face {
  font-family: "LexendExa";
  src: url("/fonts/LexendExa-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MiriamLibre";
  src: url("/fonts/MiriamLibre-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
